.driver__image {
    width: '100%';
    height: 'auto';
    max-width: 100%; 
}

.title {
    font-size: 58px;
    color: $brown;
    font-family: 'PxGroteskLight';
    margin-top: 10px
}

.subtitle {
    color: $brick-red;
    font-size: 10px;
    font-family: 'PxGroteskRegular';
    letter-spacing: 2px;
}

.bottomBorder {
    // border-bottom: border-width border-style border-color|initial|inherit;
    border-top: 1px solid $light-grey-green;
    width: 30%;
}
@media(min-width: $desktop-breakpoint) {
    .driver__image {
        max-width: 100%; 
    }
    // .title{
    //     font-size: $l-size;
    // }
}