.header {
background: $background;
// color: white;
margin-bottom: auto;
padding: $m-size 0; // 0 for left and right, 1.6rem for bottom and top
}

// BEM Block Element modifier naming convention
.header__title {
font-size:$l-size;
margin: 0;
}
.header__img {
    height: 20px;
    margin: $m-size auto;
}

.header__subtitle {
    color: $black;
    font-size:$m-size;
    font-weight: 500;
    margin: 0;
}
.is-active {
    background:$light-grey-green;
    color: $black;
    

}
.nav__item {
    margin-right: 20px;
    // width: 30;
}

.Nav_link{
    color:$black;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-decoration: none;
  }

@media(min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xl-size; 
    }
}