.header {
background: $background;
// color: white;
margin-bottom: 10px;
// padding: $m-size 0; // 0 for left and right, 1.6rem for bottom and top
}

// BEM Block Element modifier naming convention
.header__title {
font-size:$l-size;
margin: 0;
}
.header__img {
    height: 14px;
    width:auto;
    margin-top: $m-size;
    margin-bottom: $m-size;

}
.header__img--side {
    height: 24px;
    width: 24px;
    margin-top: $m-size;
    margin-bottom: $m-size;

}

.header__subtitle {
    color: $black;
    font-size:$m-size;
    font-weight: 500;
    margin: 0;
}
.is-active {
    // background:$brick-red;
    color: $brick-red;
    
}
.nav__item {
    width: 15%;
    text-align: center;
}

.nav--marginRight{
    margin-right: 20px;

}

.Nav_link{
    // color:$black;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-decoration: none;
  }

@media(min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xl-size; 
    }
}