// Colors
$background: rgb(247,243,239);
$dark-grey: rgb(119,119,119);;
$light-grey: rgb(221,218,214);
$white: rgb(255,255,255);
$black:rgb(0,0,0);
$brown: rgb(63,56,37);
$transparent: rgba(157,157,157,0.0);
$dark-brown: rgb(30,29,30);
$dark-background: rgb(234,230,219);
$grey-green: rgb(108,104,91);
$brick-red: rgb(172,130,109);
$light-grey-green: rgb(217,216,203);

// spacing

// medium-size
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint : 45rem;

